header {
  height: 80px;
}

.head {
  height: 100%;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
}

.nav {
  font-size: 17px;
}
.nav a {
  height: 100%;
  line-height: 80px;
  color: #494949;
  padding: 0 44px;
  font-weight: bold;
}
.nav a:hover {
  color: #866961;
  border-bottom: 6px solid #866961;
  text-decoration: none;
}
.nav .active  {
  color: #866961;
  border-bottom: 6px solid #866961;
}
