.main-content {
  margin-bottom: 40px;

}
.main-content > div {
  width: 530px;
}
.main-content p {
  margin-top: 24px;
  font-size: 14px;
  line-height: 30px;
  text-indent: 2em;
  text-align: justify;
  color: #333;
}
.banner > img {
  transition: all 1s;
}